<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %> 



    <div class="container">

        <img alt="Sweaty Mascot" src="img/sweatylogo.jpg" style="display: block; margin: 0 auto; width: 30%;">

        <h1 style="text-align: center;">Welcome to SweatSocial!</h1>
        <p>
            



        </p>

    </div>

