<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %> 



<section>
    <div class="container">
        <h1>Welcome to SweatSocial!</h1>
        <p>
            Our application is designed to encourge health and wellness and making a communitu out of it! 
            Whether you are new to fitness or a veteran in the world of fitness, everyone is welcomed  

        </p>
    </div>
</section>

