<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %>

<div class="card mb-3">
    <h3 class="card-header">Your Exercises</h3>
    <div class="card-body">
    </div>

    <div class="card-body">
      <p class="card-text"></p>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">Looking for more exercises?<li>
      <a class="btn btn-outline-success" href='/addexercise' role="button">Add exercise</a>
    </ul>
    

  </div>

  </div>