<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %>

<head>

</head>

<body>
    <main>
        <div class="row justify-content-center align-items-center" style = "height: 80vh; background-image: url('img/background.png'); background-size:cover;">
            <div class="col-md-4">
                <div class="card" id="hobby-card-1">
                    <div class="border">
                <div class="container">
                    <img alt="Sweaty Mascot" src="img/sweatylogo.jpg" style="display: block; margin: 0 auto; width: 30%;">
                    
                    <h3 style= "text-align:center">Create an account</h3>
                    <h6 style = "text-align: center;">to continue to SweatSocial</h6>
                    <br>
                    <form action="/register" method="POST">
                        <label for="full_name" style = "display:block; padding-left:120px;">Full Name</label>
                        <input type="text" size ="20" class="form-control" id="full_name" aria-describedby="full_name" placeholder="Enter your full name" name="full_name" style = "width: 300px; margin:auto;">
                        <br>
                        <label for="username" style = "display:block; padding-left:120px;">Username</label>
                        <input type="text" size ="20" class="form-control" id="username" aria-describedby="username" placeholder="Enter username" name="username" style = "width: 300px; margin:auto;">
                        <br>
                        <label for="password" style = "display:block; padding-left:120px;">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" style = "width: 300px; margin:auto;">
                        <br>
                        <button type="submit" class="btn btn-outline-primary" style = "margin-left: 115px;">Register</button>
                        <small id="help" class="form-text text-muted" style = "position:relative; left:113px">
                            <br></br>
                            Already have an account? <a href='/login'>Login</a>
                        </small>
                        <br></br>
                    </form>
                </div>
                </div>
                </div>
            </div>
        </div>
            
        
    </main>
</body>
<%- include ('../partials/footer') %>
